<launch>
  <arg name="pn" default="vive"/>

  <node pkg="mohou_ros" type="vive_controller_pr2.py" name="vive_pr2_controller"
        args="-pn $(arg pn)"
        output="screen">
  </node>

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find mohou_ros)/rviz/vive_pr2_config.rviz"/>
</launch>
